<?xml version="1.0"?>

<config>
	
	<modules>
		<Brainup_Oauth>
			<version>1.0.0</version>
		</Brainup_Oauth>
	</modules>

    <frontend>
        <routers>
            <routeurfrontend>
                <use>standard</use>
                <args>
                    <module>Brainup_Oauth</module>
                    <frontName>xoauth</frontName>
                </args>
            </routeurfrontend>
        </routers>

        <events>
            <controller_action_predispatch>
                <observers>
                    <Brainup_Oauth>
                        <class>Brainup_Oauth/Observer</class>
                        <method>indexPreDispatch</method>
                    </Brainup_Oauth>
                </observers>
            </controller_action_predispatch>
        </events>
    </frontend>

	<global>

		<models>
			<Brainup_Oauth>
				<class>Brainup_Oauth_Model</class>
			</Brainup_Oauth>
		</models>

		<helpers>
			<Brainup_Oauth>
				<class>Brainup_Oauth_Helper</class>
			</Brainup_Oauth>
		</helpers>

		<blocks>
			<Brainup_Oauth>
				<class>Brainup_Oauth_Block</class>
			</Brainup_Oauth>
		</blocks>

        <resources>
            <brainup_oauth_setup>
                <setup>
                    <module>Brainup_Oauth</module>
                    <class>Mage_Customer_Model_Resource_Setup</class>
                </setup>
            </brainup_oauth_setup>
        </resources>

	</global>




</config>
